<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html :: header"></div>


<!--start add recipe form-->
<div class="row">
    <div class="col-md-6" style="margin: 0 auto;">
        <form th:action="@{/admin/addToBarToDB}" th:object="${recipeCategories}" method="post">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="categoryName" class="col-form-label">Category name</label>
                    <input type="text"  th:field="*{categoryName}" class="form-control" id="categoryName" placeholder="Category name" oninput="this.value = this.value.toUpperCase()" >
                    <span th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" class="text-danger"></span>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <input type="submit" class="btn green-button"  value="Next">
                </div>
            </div>
        </form>
    </div>
</div>
<!--end add recipe form-->

<div th:replace="fragments/endPage.html :: endPage"></div>